:root {
  --active-tab-color: #f0f0f0;
  --active-tab-shadow-color: #d2d2db;
  --background-color: #fff;
  --font-color: #45454a;
  --font-secondary-color: #656569;
  --font-inactive-color: #7f7f8d;
}

/* dark */
[data-theme="dark"] {
  --active-tab-color: #28282d;
  --active-tab-shadow-color: #42424e;
  --background-color: #18181b;
  --font-color: #fff;
  --font-secondary-color: #cdcdcd;
  --font-inactive-color: #7f7f8d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
}

.hero-text {
  text-align: center;
  font-size: 4.4rem;
  padding-left: 1.6rem;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social-link {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  margin: 1.2rem 0;
  display: flex;
  height: 100%;
  flex: 1;
  width: 100%;
  overflow: hidden;
  gap: 1.6rem;
}

/* aside */

.side-tabs {
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 0.8rem;
  padding: 0.4rem;
}

.side-tabs > .side-tab-action {
  background-color: transparent;
  border: none;
  padding: 1.4rem 1.6rem;
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.2rem;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, opacity 0.2s;
}

.side-tab-action.active-tab {
  background-color: var(--active-tab-color);
  box-shadow: 0.8px 0.8px 4.8px var(--active-tab-shadow-color);
  opacity: 1;
  color: var(--font-secondary-color);
}

.side-tab-action:not(.active-tab) {
  opacity: 0.4;
  color: var(--font-inactive-color);
}

.side-tab-action:not(.active-tab):hover {
  background-color: var(--active-tab-color);
}

.side-tab-action.last-tab {
  border-bottom: none;
}

/* main content */

.preview-container {
  flex: 1;
  overflow: hidden;
  width: 100%;
  position: relative;
  border-radius: 0.4rem;
}

.preview-frame {
  width: 100%;
  height: 100%;
  border: none;
}

.preview-frame.show {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.preview-frame.hide {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.preview-container .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.spinner-container.show {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.spinner-container.hide {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.spinner-container > img {
  width: 2.8rem;
  height: 2.8rem;
}
