@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

:root {
  --background-color: black;

  --checkbox-border-color: #64748b;
  --checkbox-inner-color: #334155;

  --text-color: #e3e8f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  align-items: center;
  font-size: 1.6rem;
  display: flex;
  height: 100vh;
  justify-content: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

label {
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-template-columns: 4rem 10rem;
}

input[type="checkbox"] {
  display: none;
}

.outer-rect {
  border: thin solid var(--checkbox-border-color);
  height: 3rem;
  margin-right: 1rem;
  width: 3rem;
}

.inner-rect {
  background: radial-gradient(
    var(--checkbox-border-color),
    var(--checkbox-inner-color)
  );
  border: 0.3rem solid var(--background-color);
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  width: 100%;
}

.inner-rect.checked-state {
  opacity: 1;
}
